{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nisi minima dolorem accusantium reiciendis dolorum temporibus 
    debitis modi officia facere laborum. Sunt fugiat minus, libero enim 
    adipisci minima cupiditate numquam assumenda! Natus sequi tenetur incidunt.
     Iure consequatur provident laboriosam voluptate, autem amet? Soluta illo 
     ea aperiam saepe placeat reiciendis, velit nemo magni sunt, minima 
     consectetur ipsum officiis sint nulla eum nobis ullam eveniet dicta. 
     Blanditiis, corporis. Corrupti illo incidunt, suscipit dolores modi iste 
     corporis perspiciatis, error consequatur numquam saepe amet quo tempore 
     non fugiat earum. Id provident at quis, nisi ullam ea nostrum recusandae 
     doloribus, quos quasi voluptatibus perspiciatis cupiditate voluptatem.s
    </p>
{% endblock %}